@import url('https://fonts.googleapis.com/css?family=Damion|Lato:300,400,700,900');        

 
body{
	background-color: #fff;
 }

.ba-wrapper{
	margin: auto;
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
	margin: 0 auto;

}
.ba-header {
	min-height: 100vh;
	
	background:  url(../img/BG.png) no-repeat;
	background-size: cover;
	&__top{
		
		&--logo{
			font-family: 'Damion';
			font-size: 50px;
			text-decoration: none;
			color: #fff;
			padding-top: 20px;
			display: inline-block;
		}
		&--item{
			float: right;
			text-decoration: none;
			display: inline-block;
			font-size: 18px;
			color: #fff;
			padding: 40px 25px 15px;
			line-height: 1em;
			font-family: 'Lato', sans-serif;
			&:hover, &:active{
				background-color: #74c7d5;
				border-radius: 5px;
			}
		}

	}
	&__slider{


		&-item{
			width: 850px;
			height: 175px;
			margin: 0 auto;
			border-radius: 4px;
			color: #74c7d5;
			margin-top: calc(100vh - 40%); 
			background-color: rgba(233, 236, 233, .5);

			&--left{
				width: 50%;
				font-family: 'Lato', sans-serif;

				font-weight: 300;
				font-size: 60px;
				text-align: right;
				line-height: 58px;
				float: left;

				p{
					margin-top: 30px;
					margin-bottom: 0;

				}
				span{
					margin: 0;
					line-height: 58px;
				}
				
			}
			&--right{
				
				h1{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				font-size: 138px;
				text-align: left;
				line-height: 1em;
				margin-top: 13px;
				margin-left: 10px;
				margin-bottom: 0;
				}
			}


		}
	}	
}
.ba-section__services{
	background: url(../img/bg2.png) no-repeat;
	background-size: cover;
	padding-top: 180px;
	padding-bottom: 130px;
	margin: 0 auto;
	
	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 60px;
		text-align: center;
		line-height: 58px;
		color: #fff;

	}
	p{
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		font-weight: 400;
		text-align: center;
		color: #fff;
		span{
			color: #ec9da2;
		}

	}
	span{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		color: #ffcccf;
	}
	&--items{
		display: flex;
		
		flex-direction: row;
		padding-top: 40px;
	}
	&--item{
		flex-basis: 265px;
		font-family: 'Lato', sans-serif;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: #cc6666;
		padding-top: 50px;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 5px;
		margin-left: 15px;
		h3{
 			font-size: 30px;
			font-weight: 300;
			text-align: center;
			color: #fff;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
		p{
			font-size: 14px;
			font-weight: 400;
		}
		
	}
}
.ba-section__about{
	background: url(../img/about_bg.png) no-repeat;
	background-size: cover;
	
	padding-top: 190px;
	padding-bottom: 45px;
	text-align: center;
	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 60px;
		text-align: center;
		line-height: 58px;
		color: #fff;
		margin: 0;

	}
	p{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		color: #ffcccf;
	}
	a{
		width: 275px;
		height: 50px;
		display: inline-block;
		background-color: #a1ca6c;
		color: #fff;
		text-align: center;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		text-transform: uppercase;
		padding-top: 10px;
		margin: 0 auto;
		border-radius: 5px;
		margin-top: 50px;
		&:hover{
			background-color: red;
		}

	}
	&--items{
		display: flex;
		
		flex-direction: row;
		padding-top: 40px;
	}
	&--item{
		flex-basis: 265px;
		font-family: 'Lato', sans-serif;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: rgba(77, 63, 75, 0.5);
		padding-top: 50px;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 5px;
		margin-left: 15px;
		h3{
 			font-size: 30px;
			font-weight: 300;
			text-align: center;
			color: #c7b6c5;
			margin-bottom: 40px;
			text-transform: uppercase;
			&:hover{
				color: #fff;
			}
		}
		span{
			font-size: 14px;
			font-weight: 400;
			color: #a1ca6c;
			display: inline-block;
			margin-bottom: 40px;
			&:hover{
				color: #ff8973;
			}

		}
		a{
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #a1859e;
			color: #fff;
			text-align: center;
			font-size: 14px;
			padding-top: 7px;
		}
		
	}
}
.ba-works{
	background: url(../img/works.png) ;
	background-size: cover;
	padding-bottom: 130px;
	padding-top: 190px;
	min-height: 1150px;


	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 60px;
		text-align: center;
		line-height: 58px;
		color: #fff;
		margin: 0;

	}
	p{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		color: #ffcccf;
	}
	&__filter{
		border-top: 1px solid #94b963;
		border-bottom: 1px solid #94b963;
		font-family: 'Lato', sans-serif;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 45px;
		h3{
			font-size: 20px;
			font-weight: 700;
			color: #fff;
		}
		a{
			float: right;
 			display: inline-block;
			text-decoration: none;
			margin-left: 30px;
			height: 40px;
			line-height: 1em;
			padding-left: 5px;
			padding-right: 5px;
			border-radius: 5px;
			font-size: 16px;
			font-weight: 700;
			color: #fff;
			padding-top: 10px;
			&:active{
				background-color: #f5c149;
			}

		}
	}
	&__gallery{
		&-item{
			float: right;
			margin-bottom: 15px;
		}
		&-sizer{
			width: 25%
		}
	}
}
.ba-contact{
	background: url(../img/contact.png);
	padding-top: 180px;
	padding-bottom: 50px;

	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 60px;
		text-align: center;
		line-height: 58px;
		color: #fff;
		margin: 0;

	}
	p{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		color: #ffcccf;
	}
	&__forms{
		display: flex;
		flex-direction: row;
		margin-top: 90px;

	}
	&__form-first{
		font-family: 'Lato', sans-serif;
		flex-basis: 250px;
		h3{
			font-size: 30px;
			color: #fff;
			font-weight: 300;

		}
		p{
			color: #c0dfda;
			font-size: 20px;
			font-weight: 500;
			text-align: left;
		}
		span{
			color: #fff;
			font-weight: 400;
			font-size: 16px;
		}

	}
	&__form-second{
		flex-basis: 265px;
		height: 225px;
	}
	&__form-third{
		flex-basis: 540px;
		margin-left: 50px;
		form{
			font-family: 'Lato', sans-serif;

			h3{
				font-size: 30px;
				color: #fff;
				font-weight: 300;
				margin-bottom: 20px;
				margin-top: 0;
			}
			.name{
				width: 260px;
				height: 40px;
				background-color: #68a097;
				padding-left: 20px;
				outline: none;
				color: #77b7ad;
				border: none;
				border-radius: 5px;
			}
			.field{
				width: 260px;
				height: 40px;
				background-color: #fff;
				padding-left: 20px;
				outline: none;
				color: #77b7ad;
				border: none;
				border-radius: 5px;
				margin-left: 10px;
			}
			.area{
				width: 540px;
				height: 160px;
				background-color: #68a097;
				padding-left: 20px;
				outline: none;
				color: #77b7ad;
				border: none;
				border-radius: 5px;
				margin-top: 20px;
				padding-top: 10px;

			}
			button{
				background-color: #df5c64;
				color: #fff;
				width: 260px;
				height: 50px;
				outline: none;
				border: none;
				border-radius: 5px;
				margin-top: 30px;
				margin-left: 30%;
			}
		}
	}
}
footer{
	height: 150px;
	background-color: #68a097;
	text-align: center;
	padding-top: 30px;
	a{
		display: inline-block;
		width: 63px;
		height: 63px;
		background-color: #82c8bd;
		color: #fff;
		font-size: 25px;
		border-radius: 50%;
		text-align: center;
		padding-top: 20px;
		margin-left: 40px;
		&:hover{
			color: red;
		}
	}
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
